<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
        <nav>
            <a href="/admin/dashboard">Dashboard</a><br/>
            <a href="/api/category">Quản lý category</a><br/>
            <a href="/api/product">Quản lý product</a>
        </nav>
    </header>
    <footer>
        <p>© 2024 Admin Panel</p>
    </footer>
</body>
</html>
